version: '3'
services:
  app:
    build: .
    environment:
      RAILS_ENV: development
      RAKE_ENV: development
      DATABASE_URL: postgresql://postgres:tma@db:5432/postgres?encoding=utf8&pool=5&timeout=5000
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    depends_on:
      - db
    stdin_open: true
    tty: true
    command: "bundle exec puma -C config/puma.rb"
  db:
    image: postgres:9.4-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: tma
    volumes:
      - .docker-data/db:/var/lib/postgresql