version: '3'
services:
  app:
    build: .
    # uncomment to keep container running (debug purposes)
    # command: tail -f /dev/null
    environment:
      DATABASE_HOST: db
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    stdin_open: true
    tty: true
  db:
    image: postgres:9-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - .docker-data/db:/var/lib/postgresql

