version: '3'
services:
  app:
    build: .
    environment:
      DATABASE_HOST: db
      DATABASE_URL: postgresql://postgres:tma@db:5432/postgres?encoding=utf8&pool=5&timeout=5000
    volumes:
      - .:/app
    ports:
      - "1080:1080"
    depends_on:
      - db
    stdin_open: true
    tty: true
    command: "bundle exec rails server -p 1080 --pid /server.pid"
  db:
    image: postgres:9.4-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: tma
    # volumes:
    #   - .docker-data/db:/var/lib/postgresql

