
<% if @posts.many? %>
<div class="newsletter_rhs">
  <h2>Newsletter Archive</h2>
  <div id="newsletter_posts">
    <% @posts.each do |newsletter_post| %>
    <a href="<%=  refinery.newsletter_post_path(newsletter_post) %>">

          <%= image_fu(newsletter_post.image, "52x40#c")%>
       

            <h3><%= strip_tags(newsletter_post.title) %></h3>

      </a>
    <% end %>
  </ul>
  </div>
<% end %>









