# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#development:
#  adapter: sqlite3
#  database: db/development.sqlite3
#  pool: 5
#  timeout: 5000
default: &default
 adapter: postgresql
 encoding: unicode
 host: <%= ENV['DATABASE_HOST'] || 'localhost' %>
 username: tma
 password: tma
 pool: 5
development:
 <<: *default
 database: tma_dev
