# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#development:
#  adapter: sqlite3
#  database: db/development.sqlite3
#  pool: 5
#  timeout: 5000

development:
   adapter: postgresql
   encoding: unicode
   database: tailor_made_africa
   pool: 5
   username: postgres
   password: postgres
   host: <%= ENV['DATABASE_HOST'] || 'localhost' %>
