<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= render(:partial => "/refinery/menu", :locals => {
            :dom_id => 'list list-inline hidden-xs',
            :css => 'list list-inline hidden-xs'
        }) %>
        <img src="/assets/bottom-logo.gif">
        <div class="copyright">
          © Tailormade Africa &bull; All Rights Reserved &bull; <a href="http://www.perfectcircle.co.za" target="_blank">Website by Perfect Circle.</a><br/>
          <a href="/terms-conditions">Terms & Conditions</a> &bull; <a href="/bookings/new">Booking Form</a> &bull; <a href="/accommodations">Accommodation</a>
        </div>
      </div>
    </div>
  </div>
</div>










