<div class="telephone-number hidden-xs">
  <h2><i class="fa fa-phone fa-3x"></i> + 44 7809 726266</h2>
</div>
<div class="navbar-hamburger">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<nav class="nav-hide">
  <ul>
    <img src="/assets/logo-small.png" >
    <%= render :partial => "/refinery/menu" %>
  </ul>
</nav>
<!--<div class="telephone-number hidden-xs">-->
  <!--<h2><i class="fa fa-phone fa-3x"></i> + 44 7809 726266</h2>-->
<!--</div>-->
<!--<div class="navbar-hamburger">-->
  <!--<div class="bar1"></div>-->
  <!--<div class="bar2"></div>-->
  <!--<div class="bar3"></div>-->
<!--</div>-->

<!--<nav class="nav-hide">-->
  <!--<ul>-->
    <!--<img src="/assets/logo-small.png" >-->
    <!--<li><h2><a href="index.php">Home</a></h2></li>-->
    <!--<li><h2><a href="about.php">About Us</a></h2></li>-->
    <!--<li><h2><span class="emerging-countries-link">Emerging Countries</span></h2>-->
      <!--<ul class="emerging-countries">-->
        <!--<li class="country-1"><a href="sierra-leone.php">Sierra Leone</a></li>-->
        <!--<li class="country-2"><a href="ghana.php">Ghana</a></li>-->
        <!--<li class="country-3"><a href="ethiopia.php">Ethiopia</a></li>-->
        <!--<li class="country-4"><a href="madagascar.php">Madagascar</a></li>-->
        <!--<li class="country-5"><a href="rwanda.php">Rwanda</a></li>-->
      <!--</ul>-->
    <!--</li>-->
  <!--</ul>-->
<!--</nav>-->
