<% face = copywriting('Facebook', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% twit = copywriting('Twitter', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% ins = copywriting('Instagram', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% email = copywriting('Email', {:phrase_type => 'string', :scope => 'Header', :default => '#' }) %>
<% number = copywriting('Contact Number', {:phrase_type => 'string', :scope => 'Header', :default => '+44 780972 6266' }) %>


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".-nav">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="top-menu list-inline visible-xs">
        <li><a href="tel:+447809726266"><img alt="phone" src="/assets/phone.png"></a></li>
        <li><a href="mailto:<%= email %>"><img alt="envelope" src="/assets/envelope.png"></a></li>
      </ul>
      <a class="navbar-brand hidden-xs hidden-md" href="/"><img src="/assets/main-logo-top-small.png" class="main-logo"></a>
    </div>
		
    <div class="collapse navbar-collapse -nav">
      <button id="btn-search" class="btn--search navbar-right hidden-xs hidden-sm"><img src="/assets/search-icon.png"></button>
      <div class="call-us navbar-right hidden-xs hidden-sm hidden-md"><span>Call Us Today! </span><a href="tel:+447809726266">+44 7809 726266</a></div>
      <%= render(:partial => "/refinery/menu", :locals => {
          :dom_id => 'navbar-left list-inline',
          :css => 'navbar-left list-inline'
      }) %>
    </div>
    
		<div class="searchContainer">
			<button id="btn-search-close" class="btn--search-close" aria-label="Close search form"><img src="/assets/close.png"></button>
			<form accept-charset="UTF-8" action="/locations" method="get" class="search__form">
				<input class="search__input" name="search" type="search" placeholder="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
				<span class="search__info">Hit enter to search or ESC to close</span>
			</form>
		</div>



  </div>
</nav>

<% @all_locations = Refinery::Locations::Location.where("parent_id IS NULL").order('position ASC') %>
<% if @all_locations.present? %>
  <div class="overlay-hover" id="overlay">
    <nav class="overlay-menu">
      <ul><h2>Destinations</h2>
        <% @all_locations.each do |location| %>
          <li><%= link_to(image_fu(location.flag_image, '20x20#c') + location.name, refinery.locations_location_path(location)) %></li>
        <% end %>
          <li class="close-image"><img alt="close" class="close-menu" src="/assets/close.png"/></li>
      </ul>
    </nav>
  </div>
<% end %>




