/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.colorbox-example1
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */
/* For modern browsers */
.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* For IE 6/7 (triggers hasLayout) */
.cf {
  *zoom: 1; }

.clear {
  clear: both; }

.div1, .div2, .div3 {
  opacity: 0;
  filter: alpha(opacity=0); }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #999999;
  font-size: 14px;
  line-height: 28px;
  overflow-x: hidden;
  text-align: center; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 50px 0;
  line-height: 18px; }

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 50px 0;
  line-height: 16px; }

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 50px 0;
  line-height: 30px; }

h1.accommodation-name {
  position: absolute;
  z-index: 6;
  width: 100%;
  font-family: 'Marcellus', serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 100px;
  margin: 0;
  letter-spacing: 13px;
  line-height: normal;
  top: 50%;
  margin-top: -75px; }
  h1.accommodation-name span {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    margin: 20px;
    letter-spacing: 5px;
    display: block;
    line-height: 0; }

a, a:hover, a:focus {
  color: #000000;
  text-decoration: none; }

p, ul, ol {
  width: 740px;
  text-align: justify;
  margin: 0 auto 30px auto; }

ul {
  text-align: left; }

hr {
  margin: 50px 0;
  border-top: 1px solid #e7e7e7; }

table {
  width: 65%;
  margin: 0 auto;
  border: 1px solid #eeeeee;
  margin-bottom: 30px; }
  table th {
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    font-weight: normal;
    text-align: center; }
  table td {
    border-right: 1px solid #eeeeee; }

nav, .navbar-hamburger {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center; }

nav {
  position: fixed;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: auto; }
    nav ul li.first {
      padding-top: 25px; }
    nav ul li.parent {
      line-height: 0; }
    nav ul a, nav ul a:hover, nav ul a:focus {
      color: #ffffff; }
    nav ul h2 {
      margin: 0;
      padding: 25px 0; }
    nav ul h2 span {
      color: #ffffff;
      cursor: pointer; }
    nav ul .location_nav {
      line-height: 36px;
      text-align: left;
      width: 740px;
      margin-left: 80px;
      height: 0;
      transition: height 0.5s;
      overflow: hidden; }
      nav ul .location_nav img {
        margin-right: 15px; }
    nav ul .location_nav.open {
      height: 215px;
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4; }

nav:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

.nav-hide {
  display: none; }

.navbar-hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 22px;
  z-index: 20;
  cursor: pointer; }
  .navbar-hamburger .bar1, .navbar-hamburger .bar2, .navbar-hamburger .bar3 {
    width: 100%;
    height: 3px;
    margin-bottom: 6px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out; }
  .navbar-hamburger span {
    color: #ffffff;
    margin-left: -1px;
    font-size: 11px; }

.navbar-on .bar1, .navbar-on .bar2, .navbar-on .bar3 {
  background-color: white; }
.navbar-on .bar1 {
  transform-origin: 5% 50%;
  transform: translateX(4px) rotate(45deg); }
.navbar-on .bar3 {
  transform-origin: 10% 50%;
  transform: translateX(4px) rotate(-45deg); }
.navbar-on .bar2 {
  background-color: transparent; }

.telephone-number h2 {
  position: absolute;
  z-index: 2;
  right: 100px;
  color: #ffffff;
  margin: 20px 0 0 0;
  line-height: 22px; }
.telephone-number .fa {
  font-size: 18px; }

.social_links {
  position: fixed;
  z-index: 5;
  right: 18px;
  top: 100px; }
  .social_links img {
    margin-bottom: 15px; }

#masterslider .overlay, #post_masterslider .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: url("../assets/overlay.png") repeat; }
#masterslider .banner-overlay, #post_masterslider .banner-overlay {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 50%;
  margin-left: -960px; }
  #masterslider .banner-overlay img, #post_masterslider .banner-overlay img {
    position: relative; }
#masterslider .banner-overlay::before, #masterslider .banner-overlay::after, #post_masterslider .banner-overlay::before, #post_masterslider .banner-overlay::after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: #fff;
  left: -100%;
  bottom: 0;
  height: 30px; }
#masterslider .banner-overlay::after, #post_masterslider .banner-overlay::after {
  left: auto;
  right: -100%; }
#masterslider .logo, #masterslider .banner-text, #post_masterslider .logo, #post_masterslider .banner-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  #masterslider .logo h2, #masterslider .banner-text h2, #post_masterslider .logo h2, #post_masterslider .banner-text h2 {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    margin: 0;
    letter-spacing: 5px; }
  #masterslider .logo h1, #masterslider .banner-text h1, #post_masterslider .logo h1, #post_masterslider .banner-text h1 {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 100px;
    margin: 0;
    letter-spacing: 13px;
    line-height: normal; }
    #masterslider .logo h1 span, #masterslider .banner-text h1 span, #post_masterslider .logo h1 span, #post_masterslider .banner-text h1 span {
      font-family: 'Marcellus', serif;
      font-weight: 400;
      color: #ffffff;
      font-size: 48px;
      margin: 20px;
      letter-spacing: 5px;
      display: block;
      line-height: 0; }
  #masterslider .logo h3, #masterslider .banner-text h3, #post_masterslider .logo h3, #post_masterslider .banner-text h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0; }
#masterslider .arrow, #post_masterslider .arrow {
  top: 70%;
  left: 50%;
  margin: 0 0 0 -15px; }
#masterslider .arrow:hover, #post_masterslider .arrow:hover {
  cursor: pointer; }

.ms-skin-default .ms-nav-prev {
  left: 40px !important; }

.ms-skin-default .ms-nav-next {
  right: 40px !important; }

.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  border-radius: 0;
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  margin-top: 35px;
  background: transparent;
  color: #404040; }
  .breadcrumb a {
    color: #404040; }

#welcome, #contact {
  padding: 50px 0 70px 0; }
  #welcome .contact-form span, #contact .contact-form span {
    width: 740px;
    margin: 0 auto !important;
    background-color: #FFFFFF;
    border: 1px solid red;
    padding: 0;
    display: block;
    margin: 15px;
    color: red;
    line-height: 18px;
    padding: 5px; }
  #welcome .contact-form span.success, #contact .contact-form span.success {
    border: 1px solid green;
    color: green; }
  #welcome form, #contact form {
    width: 740px;
    margin: 0 auto; }
    #welcome form input, #contact form input {
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 5px;
      height: 43px;
      color: #999999;
      border: none; }
    #welcome form textarea, #contact form textarea {
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 5px;
      padding: 10px 12px;
      border: none; }
    #welcome form .btn-custom, #contact form .btn-custom {
      background: #000;
      border-radius: 0;
      border: 0;
      height: 44px;
      width: 200px;
      color: #fff;
      margin-top: 30px; }
    #welcome form ::-webkit-input-placeholder, #contact form ::-webkit-input-placeholder {
      font-weight: 400;
      color: #999999;
      font-size: 14px; }
    #welcome form :-moz-placeholder, #contact form :-moz-placeholder {
      font-weight: 400;
      color: #999999;
      font-size: 14px; }
    #welcome form ::-moz-placeholder, #contact form ::-moz-placeholder {
      font-weight: 400;
      color: #999999;
      font-size: 14px; }
    #welcome form :-ms-input-placeholder, #contact form :-ms-input-placeholder {
      font-weight: 400;
      color: #999999;
      font-size: 14px; }
  #welcome .contact-details, #contact .contact-details {
    margin-bottom: 30px; }
    #welcome .contact-details .fa, #contact .contact-details .fa {
      margin: 20px 0;
      color: #000000;
      font-size: 20px; }
    #welcome .contact-details h3, #contact .contact-details h3 {
      margin: 0; }
  #welcome .team-member, #contact .team-member {
    padding-bottom: 10px; }
    #welcome .team-member img, #contact .team-member img {
      border-radius: 50%; }
  #welcome img, #contact img {
    margin: 0 auto; }
  #welcome .btn-custom, #contact .btn-custom {
    background: #000;
    border-radius: 0;
    border: 0;
    height: 44px;
    width: 200px;
    color: #fff;
    line-height: 44px;
    padding: 0; }
  #welcome .locations, #welcome .accommodations, #contact .locations, #contact .accommodations {
    padding-bottom: 20px; }
    #welcome .locations h2, #welcome .accommodations h2, #contact .locations h2, #contact .accommodations h2 {
      font-size: 20px;
      margin: 50px 0; }
    #welcome .locations .bx-viewport, #welcome .accommodations .bx-viewport, #contact .locations .bx-viewport, #contact .accommodations .bx-viewport {
      height: 212px !important; }
      #welcome .locations .bx-viewport .slide, #welcome .accommodations .bx-viewport .slide, #contact .locations .bx-viewport .slide, #contact .accommodations .bx-viewport .slide {
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase; }
        #welcome .locations .bx-viewport .slide a img, #welcome .accommodations .bx-viewport .slide a img, #contact .locations .bx-viewport .slide a img, #contact .accommodations .bx-viewport .slide a img {
          border-radius: 50%; }
        #welcome .locations .bx-viewport .slide a .name, #welcome .accommodations .bx-viewport .slide a .name, #contact .locations .bx-viewport .slide a .name, #contact .accommodations .bx-viewport .slide a .name {
          margin-top: 10px; }
    #welcome .locations .bx-prev, #welcome .locations .bx-next, #welcome .accommodations .bx-prev, #welcome .accommodations .bx-next, #contact .locations .bx-prev, #contact .locations .bx-next, #contact .accommodations .bx-prev, #contact .accommodations .bx-next {
      background: url(/assets/controls.png) no-repeat;
      width: 13px !important;
      height: 25px !important;
      top: 45% !important; }
    #welcome .locations .bx-prev, #welcome .accommodations .bx-prev, #contact .locations .bx-prev, #contact .accommodations .bx-prev {
      left: -50px;
      background-position: top left !important;
      z-index: 0; }
    #welcome .locations .bx-next, #welcome .accommodations .bx-next, #contact .locations .bx-next, #contact .accommodations .bx-next {
      right: -50px;
      background-position: top right !important;
      z-index: 0; }

#welcome {
  padding: 20px 0 70px 0 !important; }
  #welcome strong {
    color: #777777; }

#contact {
  background: #f4f4f4; }

#people {
  background: #4799ef url("/assets/bg-people.jpg") bottom center no-repeat;
  padding: 100px 0 70px 0 !important; }
  #people .content-container .content {
    transform: none; }
    #people .content-container .content h2 {
      font-size: 15px;
      line-height: 24px; }

#locations {
  padding: 100px 0 70px 0; }
  #locations .streetchild {
    width: 740px;
    margin: 0 auto; }
  #locations a {
    float: left;
    margin: 0 20px 0 0; }

#countries {
  background: url("/assets/bg-countries.jpg") top center no-repeat; }
  #countries .content-container {
    height: 495px; }
  #countries ul {
    text-align: center;
    width: 100%;
    padding: 0; }
    #countries ul li {
      display: inline-block;
      padding: 0; }
      #countries ul li a {
        line-height: 8px; }
      #countries ul li span {
        display: inline-block;
        width: 55px;
        overflow: hidden; }

#footer {
  background: url("/assets/bg-footer.jpg") top center no-repeat;
  height: 450px; }
  #footer .content-container {
    height: 450px; }

.content-container .content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffffff; }
  .content-container .content h1, .content-container .content h2 {
    width: 740px;
    color: #ffffff;
    margin: 0 auto 50px auto; }
  .content-container .content h2 {
    margin-bottom: 30px; }
  .content-container .content img.logo {
    display: block;
    margin: 50px auto 80px auto; }
  .content-container .content img.logos {
    display: block;
    margin: 10px auto 0 auto; }
  .content-container .content span, .content-container .content a {
    color: #ffffff;
    font-size: 8px;
    font-size: 8px;
    text-transform: uppercase; }

#locations-blog-container {
  padding: 50px 0 70px 0;
  background: #999999;
  text-align: center; }
  #locations-blog-container h1 {
    color: #ffffff; }
  #locations-blog-container .blog-post {
    width: 360px;
    position: relative;
    margin-bottom: 30px; }
    #locations-blog-container .blog-post h2 {
      margin: 0;
      font-size: 14px; }
    #locations-blog-container .blog-post .content {
      background: #ffffff;
      padding: 20px; }
      #locations-blog-container .blog-post .content .date {
        font-size: 12px;
        font-style: italic; }
      #locations-blog-container .blog-post .content p {
        width: auto;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 0; }
  #locations-blog-container .banner-arrow {
    position: absolute;
    top: 271px;
    z-index: 1; }

.accommodation_item .banner-overlay {
  position: absolute;
  z-index: 10;
  bottom: 0px; }
  .accommodation_item .banner-overlay img {
    width: 100%; }
.accommodation_item #masterslider2 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: url("../assets/overlay.png") repeat; }
.accommodation_item .accommodation {
  padding: 50px 0 100px 0; }
  .accommodation_item .accommodation .accommodation-container h1 {
    margin: 0 0 50px 0; }
  .accommodation_item .accommodation .accommodation-container h2 {
    font-size: 20px;
    padding: 50px 0;
    margin: 0;
    text-align: center; }
  .accommodation_item .accommodation .accommodation-container h2.amenities {
    padding-top: 10px; }
  .accommodation_item .accommodation .accommodation-container h2.activities {
    padding-top: 0; }
  .accommodation_item .accommodation .accommodation-container ul.amenities {
    margin-bottom: 30px;
    text-align: center;
    padding: 0; }
    .accommodation_item .accommodation .accommodation-container ul.amenities li {
      display: inline-block;
      margin: 0 10px 10px 0; }
  .accommodation_item .accommodation .accommodation-container .btn-custom {
    background: #000;
    border-radius: 0;
    border: 0;
    height: 44px;
    width: 200px;
    color: #fff;
    line-height: 44px;
    padding: 0;
    margin-top: 40px; }

.rates {
  width: 740px;
  margin: 0 auto; }

.monthbar {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  overflow: hidden; }

.month {
  float: left;
  width: 8.33%;
  line-height: 20px;
  font-family: roboto;
  font-size: 10px;
  text-align: center;
  color: #ffffff; }

.low {
  background: #b6c274; }

.mid {
  background: #ffd351; }

.high {
  background: #fca938; }

.closed {
  background: #d85f44; }

.clear {
  clear: both; }

.prices {
  width: 100%;
  Padding-top: 30px;
  text-align: center;
  font-family: roboto;
  font-size: 15px;
  color: #58595b;
  margin-bottom: 80px; }

.price-low {
  width: 25%;
  float: left;
  text-align: center; }

.price-low img {
  vertical-align: middle; }

.price-mid {
  width: 25%;
  float: left;
  text-align: center; }

.price-mid img {
  vertical-align: middle; }

.price-high {
  width: 25%;
  float: left;
  text-align: center; }

.price-high img {
  vertical-align: middle; }

.price-closed {
  width: 25%;
  float: left;
  text-align: center; }

.price-closed img {
  vertical-align: middle; }

.prices span {
  margin-left: 3px;
  font-size: 11px; }

/*** BLOG ***/
.blog_list {
  background: #F4F4F4;
  padding: 20px 0 70px 0; }
  .blog_list .blog_post .blog_post_pod {
    width: 360px;
    position: relative;
    margin-bottom: 30px; }
    .blog_list .blog_post .blog_post_pod h2 {
      margin: 0;
      font-size: 14px;
      line-height: 20px; }
    .blog_list .blog_post .blog_post_pod .content {
      background: #ffffff;
      padding: 20px; }
      .blog_list .blog_post .blog_post_pod .content .date {
        font-size: 12px;
        font-style: italic; }
      .blog_list .blog_post .blog_post_pod .content p {
        width: auto;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 0; }
  .blog_list .blog_post .banner-arrow {
    position: absolute;
    top: 271px;
    z-index: 1; }

.blog_show {
  padding: 20px 0 100px 0; }
  .blog_show .blog_show_container #blog_post img {
    margin-bottom: 30px; }
  .blog_show .blog_show_container #blog_post p {
    width: auto; }
  .blog_show .blog_show_container #blog_post .share {
    padding-top: 10px; }
  .blog_show .blog_show_container #blog_post .stButton {
    width: 83px !important; }
    .blog_show .blog_show_container #blog_post .stButton .twitter {
      background-image: url(/assets/tweet.gif) !important;
      width: 83px !important;
      height: 30px !important; }
    .blog_show .blog_show_container #blog_post .stButton .facebook {
      background-image: url(/assets/facebook.gif) !important;
      width: 83px !important;
      height: 30px !important; }
    .blog_show .blog_show_container #blog_post .stButton .pinterest {
      background-image: url(/assets/pinit.gif) !important;
      width: 83px !important;
      height: 30px !important; }
    .blog_show .blog_show_container #blog_post .stButton .linkedin {
      background-image: url(/assets/linkedin.gif) !important;
      width: 83px !important;
      height: 30px !important; }
  .blog_show .blog_show_container .blog-comment .details {
    font-size: 10px;
    text-align: left; }
    .blog_show .blog_show_container .blog-comment .details span {
      color: #000000; }
  .blog_show .blog_show_container .blog-comment p {
    width: auto; }
  .blog_show .blog_show_container #comments input {
    padding: 0 20px;
    margin-bottom: 5px;
    border: 0;
    width: 100%;
    height: 44px;
    border: 1px solid #e7e7e7; }
  .blog_show .blog_show_container #comments textarea {
    padding: 10px 20px;
    border: 0;
    width: 100%;
    border: 1px solid #e7e7e7; }
  .blog_show .blog_show_container #comments .captcha {
    background: url(/assets/captcha-lg.png) top center no-repeat;
    height: 60px;
    margin: -5px 0 5px 0; }
  .blog_show .blog_show_container #comments .form-actions {
    background: none;
    border-top: none;
    padding: 0; }
  .blog_show .blog_show_container #comments .form-actions input {
    background: #000;
    border-radius: 0;
    border: 0;
    height: 44px;
    width: 200px;
    color: #fff;
    margin-top: 30px; }
  .blog_show .blog_show_container .blog_rhs {
    border: 1px solid #e7e7e7;
    padding: 20px 20px 10px 20px;
    margin-bottom: 30px; }
    .blog_show .blog_show_container .blog_rhs h2 {
      margin: 0 0 5px 0;
      text-align: left;
      line-height: 16px; }
    .blog_show .blog_show_container .blog_rhs ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
      width: auto; }
      .blog_show .blog_show_container .blog_rhs ul li {
        border-bottom: 1px solid #efefef;
        padding: 10px 0; }
      .blog_show .blog_show_container .blog_rhs ul li:last-child {
        border-bottom: 0; }
      .blog_show .blog_show_container .blog_rhs ul a {
        line-height: 34px; }
      .blog_show .blog_show_container .blog_rhs ul li img {
        margin: 0 15px 0 0;
        float: left; }
    .blog_show .blog_show_container .blog_rhs .details, .blog_show .blog_show_container .blog_rhs .description {
      font-size: 11px;
      line-height: 30px; }
      .blog_show .blog_show_container .blog_rhs .details h1, .blog_show .blog_show_container .blog_rhs .description h1 {
        display: none; }
      .blog_show .blog_show_container .blog_rhs .details p, .blog_show .blog_show_container .blog_rhs .description p {
        width: auto;
        line-height: 16px;
        margin: 0 !important;
        text-align: left; }

/*** xs ***/
@media (max-width: 767px) {
  #masterslider .banner-text h2 {
    font-size: 17px !important;
    letter-spacing: 3px !important; }

  #masterslider .banner-text h1 {
    font-size: 28px !important;
    letter-spacing: 5px !important;
    line-height: 29px !important; }

  .breadcrumb {
    margin-top: 10px; }

  .social_links {
    right: 10px; }

  h1.accommodation-name {
    font-size: 24px;
    bottom: 30px; }

  table {
    width: 100%; }

  .logo {
    position: absolute !important;
    width: 220px;
    left: 50%;
    margin-left: -110px;
    top: 50%;
    margin-top: -36px; }

  .navbar-hamburger {
    top: 10px;
    right: 10px; }

  nav ul {
    margin-top: 50px; }

  nav ul h2 {
    margin: 0 !important;
    padding: 5px 0; }

  nav ul h2 a, nav ul h2 span {
    font-size: 12px; }

  nav ul li.parent ul {
    margin-top: 0; }

  nav ul .location_nav {
    margin-left: 0;
    text-align: center; }

  nav ul .location_nav li {
    line-height: 24px; }

  nav ul .location_nav img {
    display: none; }

  nav ul .location_nav.open {
    height: auto;
    column-count: 1; }

  nav ul .location_nav.open li a span {
    font-size: 11px; }

  .banner {
    position: relative; }

  .banner .banner-text {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    width: 100%; }

  .banner .banner-text h2 {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #ffffff;
    margin: 0 !important; }

  .banner .banner-text h1 {
    font-family: 'Marcellus', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px; }

  h1 {
    line-height: 30px;
    margin: 30px 0; }

  h2 {
    line-height: 24px;
    margin: 30px 0; }

  h3 {
    line-height: 24px;
    margin: 30px 0; }

  .div1, .div2, .div3 {
    opacity: 1; }

  h1, h2, p, ul {
    width: 100% !important; }

  #welcome, #locations, #contact, #people, #countries, #locations-blog-container, #welcome-locations, #welcome-accomodation, .accommodation {
    padding: 0 !important; }

  .content-container .content h1, .content-container .content h2 {
    margin: 30px 0; }

  #people {
    background: #489AF0; }

  #people .street-child, form {
    width: 100% !important;
    padding: 0 !important; }

  #people .street-child img {
    float: none !important;
    margin: 0 auto 30px auto !important; }

  #countries {
    background: #000000; }

  #countries .content-container {
    height: auto; }

  #countries .content-container .content {
    transform: none; }

  #countries ul li span {
    width: 56px; }

  .contact-form span {
    width: 100% !important; }

  .captcha {
    margin-bottom: 5px; }

  .content-container .content img.logo {
    position: relative;
    left: 0; }

  #locations {
    padding-top: 30px !important; }

  #locations .streetchild {
    width: auto; }

  #locations ul {
    -webkit-column-count: 1; }

  .accommodations .bx-wrapper, .locations .bx-wrapper {
    max-width: 165px !important; }

  #welcome-locations .bx-viewport, #welcome-accommodation .bx-viewport {
    height: 138px !important; }

  #locations-blog-container .blog-post, .blog_post .blog_post_pod {
    width: auto !important; }

  #locations-blog-container .banner-arrow, .blog_post .banner-arrow {
    top: 248px !important; }

  .blog_list {
    padding: 0; }

  .blog_locations {
    margin-top: 30px; }

  #welcome-locations h2, #welcome-accommodation h2, .accommodation h2 {
    margin: 30px 0; }

  .blog_show {
    padding: 0; }

  .blog_show .blog_show_container #comments .form-actions input {
    margin-bottom: 35px; }

  .accommodation-container, .blog_show_container {
    margin-top: 0;
    padding: 0; }

  .bookings .personal, .bookings .passport, .bookings .flights, .bookings .insurance, .bookings .requests, .bookings .emergency, .bookings .acceptance {
    padding: 15px 5px !important; }

  .bookings form .dont_get_newsletters_field label, .bookings form .certify_personal_insurance_field label, .bookings form .i_accept_field label {
    width: 90% !important; }

  .bookings .passport .fields label, .bookings .flights .fields label {
    width: 100% !important; }

  .bookings .passport .fields .arrival, .bookings .passport .fields .departure, .bookings .flights .fields .arrival, .bookings .flights .fields .departure {
    width: 100% !important; }

  nav:before {
    display: initial; }

  .modal-dialog {
    width: auto !important; }

  .modal-dialog .modal-content .modal-body {
    padding: 0 30px 50px 30px !important; }

  .modal-dialog .modal-content .modal-body h1 {
    margin: 30px 0 50px 0; }

  .accommodation_item .accommodation .accommodation-container ul.amenities li {
    margin: 0 9px 4px 10px;
    width: 50px;
    height: 50px; }

  .accommodation_item .accommodation .accommodation-container h1 {
    margin: 30px 0; }

  .accommodation_item .accommodation .accommodation-container .btn-custom {
    margin: 40px 0 50px 0; }

  #welcome form .btn-custom {
    margin-bottom: 30px !important; }

  .rates {
    width: auto; }

  .footer img.logo {
    position: relative; } }
/*** sm ***/
@media (min-width: 768px) and (max-width: 991px) {
  p, form, #people .content-container .content h2, .street-child, .contact-form span, #welcome ul, .content-container .content h1 {
    width: 100% !important; }

  #people .content-container .content .street-child {
    padding: 30px 0 0 0; }

  #people .content-container .content .street-child img {
    margin-right: 13px; }

  #countries h1 {
    margin: 0 auto 35px auto; }

  #locations-blog-container .blog-post, .blog_post .blog_post_pod {
    width: auto !important; }

  #locations-blog-container .banner-arrow, .blog_post .banner-arrow {
    top: 260px !important; }

  .accommodations .bx-wrapper, .locations .bx-wrapper {
    max-width: 546px !important; }

  .blog_locations img {
    display: none; }

  .modal-dialog {
    width: 700px !important; }

  .modal-dialog .modal-content .modal-body {
    padding: 0 40px 50px 40px !important; }

  .modal-dialog .modal-content .modal-body h1 {
    margin: 30px 0 50px 0; } }
/*** md ***/
@media (min-width: 992px) and (max-width: 1199px) {
  #container {
    transform: none !important; }

  .container {
    width: 970px; }

  #locations-blog-container .blog-post, .blog_post .blog_post_pod {
    width: auto !important; }

  #locations-blog-container .banner-arrow, .blog_post .banner-arrow {
    top: 220px !important; }

  .accommodations .bx-wrapper, .locations .bx-wrapper {
    max-width: 926px !important; } }
/*** lg ***/
@media (min-width: 1200px) {
  #container {
    transform: none !important; }

  .container {
    width: 1170px; } }
/*** Enforce landscape view ***/
#container {
  display: block; }

.modal-dialog {
  width: 940px; }
  .modal-dialog .modal-content {
    border-radius: 0;
    box-shadow: none; }
    .modal-dialog .modal-content .modal-header {
      border: none; }
    .modal-dialog .modal-content .modal-body {
      padding: 20px 20px 100px 20px; }
      .modal-dialog .modal-content .modal-body .contact-form input, .modal-dialog .modal-content .modal-body .contact-form textarea {
        border: 1px solid #e7e7e7 !important; }

body.modal-open {
  overflow: auto;
  margin-right: 0 !important;
  transform: none !important; }

body {
  margin: 0px;
  padding: 0px; }

.bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute; }

#mobile-port {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #222;
  text-align: center;
  z-index: 1000; }

#mobile-port img {
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%); }

.bookings {
  font-size: 13px;
  line-height: 24px; }
  .bookings .row {
    margin: 0; }
  .bookings .no-gutter {
    padding: 0 1px; }
  .bookings .personal, .bookings .passport, .bookings .flights, .bookings .insurance, .bookings .requests, .bookings .emergency, .bookings .acceptance {
    background: #f4f4f4;
    padding: 25px 15px;
    margin-bottom: 30px;
    text-align: left; }
  .bookings .passport .fields, .bookings .flights .fields {
    position: relative;
    margin-bottom: 20px; }
    .bookings .passport .fields .select, .bookings .flights .fields .select {
      background: #ffffff;
      margin-bottom: 2px; }
    .bookings .passport .fields label, .bookings .flights .fields label {
      background: #ffffff;
      height: 43px;
      line-height: 43px;
      width: 49%;
      padding: 0 10px; }
    .bookings .passport .fields .diet, .bookings .flights .fields .diet {
      width: 100%; }
    .bookings .passport .fields .arrival, .bookings .passport .fields .departure, .bookings .flights .fields .arrival, .bookings .flights .fields .departure {
      width: 49%; }
    .bookings .passport .fields span, .bookings .flights .fields span {
      width: 20px;
      height: 20px;
      line-height: 17px;
      text-align: center;
      background: #a30000;
      border-radius: 50%;
      position: absolute;
      top: -10px;
      right: -10px; }
      .bookings .passport .fields span a, .bookings .flights .fields span a {
        color: #ffffff;
        display: block; }
  .bookings .passport .link, .bookings .flights .link {
    background: #000;
    color: #fff;
    height: 30px;
    margin-bottom: 5px;
    display: inline-block;
    width: 130px;
    text-align: center;
    line-height: 30px; }
  .bookings h2 {
    margin: 20px 0 30px 0;
    text-align: center; }
  .bookings p {
    width: auto; }
  .bookings form {
    width: 740px;
    margin: 0 auto; }
    .bookings form h2 {
      margin: 20px 0 30px 0;
      text-align: center; }
    .bookings form p {
      width: auto; }
    .bookings form label {
      font-weight: 400;
      margin-bottom: 2px; }
    .bookings form input, .bookings form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 2px !important; }
    .bookings form input[type="checkbox"] {
      float: left;
      width: auto;
      margin: 0 10px 0 0; }
    .bookings form textarea {
      height: 90px; }
    .bookings form select {
      height: 43px;
      border: none;
      font-size: 13px;
      padding: 0 4px; }
    .bookings form .dont_get_newsletters_field label, .bookings form .certify_personal_insurance_field label, .bookings form .i_accept_field label {
      width: 95%;
      margin-top: 9px; }
    .bookings form .honeymoon_field label, .bookings form .birthday_field label, .bookings form .anniversary_field label {
      margin-top: 9px; }
    .bookings form .btn-custom {
      background: #000;
      border-radius: 0;
      border: 0;
      height: 44px;
      width: 200px;
      color: #fff;
      margin-top: 0 !important; }
    .bookings form ::-webkit-input-placeholder {
      font-weight: 400;
      color: #999999;
      font-size: 13px !important; }
    .bookings form :-moz-placeholder {
      font-weight: 400;
      color: #999999;
      font-size: 13px !important; }
    .bookings form ::-moz-placeholder {
      font-weight: 400;
      color: #999999;
      font-size: 13px !important; }
    .bookings form :-ms-input-placeholder {
      font-weight: 400;
      color: #999999;
      font-size: 13px !important; }
  .bookings .uppercase {
    width: 100% !important;
    text-transform: uppercase; }

/*# sourceMappingURL=application.css.css.map */
